### Exportando os gráficos para a conta do Plotly na nuvem

* Criar a conta no portal do plot.ly;
* Obter credenciais da API;
* Importar o módulo para plot **online**;
* Substituir o método iplot() pelo método plot().

In [16]:
### Configurando credenciais:
import chart_studio.plotly as pyo
import chart_studio
import plotly
import plotly.graph_objs as go
import pandas as pd
import numpy as np

chart_studio.tools.set_credentials_file(username = 'ludimilanobre', 
                                   api_key = 'EWnGGXYerJR4fwhBGti6')

In [14]:
df = pd.DataFrame(np.random.randn(100, 4), columns = ['A', 'B', 'C', 'D'])
df.head()

          A         B         C         D
0  1.084311 -0.240448 -1.894467 -1.039330
1 -0.504120 -0.276509  1.168382  0.122699
2  0.509072  1.946083  1.657916 -0.067537
3  0.773889 -1.906476  1.595291  0.057539
4 -1.531539 -1.259414  0.740341  0.529102

In [19]:
df = pd.read_csv('olist_classified_public_dataset.csv')
df.head()

,Unnamed: 0,id,order_status,order_products_value,order_freight_value,order_items_qty,order_sellers_qty,order_purchase_timestamp,order_aproved_at,order_estimated_delivery_date,...,votes_delayed,votes_low_quality,votes_return,votes_not_as_anounced,votes_partial_delivery,votes_other_delivery,votes_other_order,votes_satisfied,most_voted_subclass,most_voted_class
0,0,1,delivered,89.99,14.38,1,1,2017-08-30 11:41:01.000000,2017-08-30 11:55:08.970352,2017-09-21 00:00:00.000000,...,0,0,0,0,0,0,0,3,satisfeito,satisfeito_com_pedido
1,1,2,delivered,69.00,15.23,1,1,2017-09-26 09:13:36.000000,2017-09-26 09:28:10.922048,2017-10-24 00:00:00.000000,...,0,0,0,0,0,0,0,0,antes_prazo,satisfeito_com_pedido
2,2,3,delivered,99.80,15.86,2,4,2018-01-15 15:50:42.000000,2018-01-17 07:29:56.419769,2018-02-05 00:00:00.000000,...,0,0,0,0,3,0,0,0,entrega_parcial,problemas_de_entrega
3,3,4,delivered,87.00,12.74,1,1,2018-02-04 11:16:42.000000,2018-02-06 05:31:50.990164,2018-03-13 00:00:00.000000,...,3,0,0,0,0,0,0,0,atrasado,problemas_de_entrega
4,4,5,delivered,99.90,17.95,1,2,2017-12-07 11:58:42.000000,2017-12-08 02:36:49.587515,2018-01-03 00:00:00.000000,...,0,0,0,0,3,0,0,0,entrega_parcial,problemas_de_entrega

In [20]:
classes_mais_votadas = df.most_voted_class.value_counts()

In [22]:
### Gerando o gráfico e exportando para o Chart Studio:

cores = ['#E1396C', '#FEBFB3', '#96D38C']
      
         
trace = go.Pie(labels = classes_mais_votadas.index,
               values = classes_mais_votadas.values,
               marker = {'colors': cores,
                           'line': {'color': '#000000', 'width': 2}
                        },
            hoverinfo = 'label + percent + value',
            direction = 'clockwise',
                 pull = [0, 0.1, 0])


### Armazenando o gráfico em uma lista:
data = [trace]


### Criando o layout:
layout = go.Layout(title = 'Classificação de pedidos')


### Criando a figura que será exibida:
fig = go.Figure(data = data, layout = layout)

pyo.iplot(fig)